@import "~bootstrap/scss/bootstrap";
@import "galleries";
@import "images";

.profile-image {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow:
          inset 0 0 0 2px rgba(255,255,255,0.6),
          0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}