<!--<div class="gallery-list inner-body">-->
<!--  <div class="container">-->
<!--    <br>-->
<!--    <h1>User galeries</h1>-->

<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/145/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/146/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/140/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 1</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/146/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/147/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/141/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 2</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/147/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/148/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/142/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 3</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/148/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/149/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/143/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 4</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container">-->
<!--    <br>-->
<!--    <h1>Automatic galleries</h1>-->

<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/145/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/146/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/140/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 1</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/146/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/147/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/141/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 2</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/147/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/148/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/142/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 3</span>-->
<!--    </div>-->
<!--    <div class="cardList">-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/148/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/149/animals')"></div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card__bg" style="background-image: url('http://lorempixel.com/245/143/animals')"></div>-->
<!--      </div>-->
<!--      <span class="cardList__title">Group 4</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->